.App {
  color: white;
  display: flex;
  flex-direction: column;
}

.option {
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background-color: blueviolet;
  margin-right: 1rem;
}

.songsContainer {
  align-self: center;
  margin-top: 2rem;
  width: 75%;
  border-radius: 1rem;
  background-color: rgb(25, 141, 176, 50%);
  /* opacity: 50%; */
}
